@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  display: grid;
  grid-auto-flow: row;
  background-color: yellow-32;
  transform-style: preserve-3d;
  transition: 1s cubic-bezier(0.25, 1, 0.5, 1);
  
  transform: perspective(1500px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}


.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: fixed;
  backface-visibility: hidden;
  
  
  
}

.card .back {
  transform: rotateY(180deg);
}
